
/* @media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
} */
$breakpoint-macAir: 1250px ;

@font-face {
    font-family:Jost;
    src: url(./assets/fonts/Jost-VariableFont_wght.ttf) format('truetype');
}

.loadingScreen{
    width: 100vw;
    height: 100vh;
    background: white;
    position: absolute;
}
.video {
    position: absolute;
    right: 0;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}
.header-1 {
    height: 90px;
    width: calc(100vw - (100vw - 100%));
    position: absolute;
    top: 0%;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    font-family: Jost;
    font-size: 26px;
    color: rgb(241, 225, 225);
    font-weight: 400;
    z-index: 2;
    text-transform: uppercase;
}

.tabs {
    margin: auto 30px;
}
nav {
        height: 52.6vw;
    width: 450px;
    background: linear-gradient(
        204.27deg,
        rgba(0, 0, 0, 0.42) 2.5%,
        rgba(0, 0, 0, 0.06) 100%
    );
    backdrop-filter: blur(13px);

    overflow: hidden;
    position: absolute;
    top: 0%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    z-index: 2;
}
.navblur {
    height: 100vh;
    width: 400px;
    position: absolute;
    top: 0%;
    left: 0;
    display: flex;
    filter: blur(4.5vmin);
    /* background-color: blue; */
    padding-left: 50px;
}
.brand{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    top: 25px;
}
.logo{
    filter: invert(100%);
}
.heading {
    color: white;
    letter-spacing: 3px;
    font-size: 50px;
    font-family: Jost;
    font-weight: 900;
    font-style: italic;
    letter-spacing: 0;
    text-align: left;
    
    // left:100px;
}

.description{
width: 400px;
    height: 80px;
    font-family: Jost;
    text-align: left;
    line-height: 55px;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
}
.intro {
    position: relative;
    width: 420px;
    height: 222px;
    top: 220px;
    font-family: Jost;
    font-weight: 900;
    letter-spacing: 1px;
    text-align: left;
    line-height: 55px;
    color: white;
    text-transform: uppercase;
    font-size: 67px;
}

.vimeo-wrapper {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: calc(100vw - (100vw - 100%));
    height: 90vh;
    z-index: 0;
    pointer-events: none;
    overflow: hidden;
    object-fit: cover;
}
.vimeo-wrapper iframe {
    width: calc(100vw - (100vw - 100%));
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
     min-width: 177.77vh;// Given a 16:9 aspect ratio, 16/9*100 = 177.77 
    position: absolute;
    top:-50px;
    z-index: 0;

    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
}
.hero{
    height: 56.25vw;
    width: calc(100vw - (100vw - 100%));
    overflow: hidden;
    background-color: black;
}
.section {
    height: 100vh;
    width: calc(100vw - (100vw - 100%));
    overflow: hidden;
    background-color: black;
}
// .blackRow{
//     height:8vh;
//     position: absolute;
//     top:49.25vw;
//     z-index: 100;
//     opacity: 0.5;
//     background-color: white;
//     width: calc(100vw - (100vw - 100%));
// }
.section1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .circle{
        height: 500px;
        width: 500px;
        margin-top: 70px;
        background: linear-gradient(
      35deg,
      #ccffff,
      #ffcccc
    );
        border-radius: 400px;
        z-index: 1;
        margin-right: 140px;
        // display: flex;
        justify-content: center;
        // transition: 1s cubic-bezier(0.46,0.03,0.52,0.96);
        // align-items: center;
   
    .mainShow{
        width:620px;
        margin-top: 50px;
        // position: absolute;
        // top:600px;
        transform: rotateZ(-35deg);
        animation-iteration-count: infinite;
        animation-name: bounce;
        animation-duration: 1.5s;
        
        // transition: 1s cubic-bezier(0.45,0.05,0.55,0.95);
        // &:hover{
        //     transform:  rotateZ(-45deg);
        // }

    }
    }
     .shoeName{
        font-size: 240px;
        position: absolute;

        // top:600px;
        letter-spacing: -10px;
        // width: 3000px;
        color: white;
        clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
        font-family: "Futura-CondensedExtraBold", Futura, sans-serif;
font-stretch: condensed;
font-weight: bold;
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
text-overflow: clip;
    }
}

.glassInfoBox{
    align-self: flex-end;
    width:520px;
    height:260px;
    margin-left: 50px;
    margin-bottom: 70px;
    // border:solid white;
    // border-width: 0.5px;
    border: 1px solid transparent;
            border-image: linear-gradient(to top right, rgba(0,0,0,0), rgb(209, 209, 209));
            border-image-slice: 10;
    box-shadow: -7px 7px 0 1px white;
    // background: linear-gradient(
    //     254.27deg,
    //     rgba(41, 41, 41, 0.42) 0%,
    //     rgba(0, 0, 0, 0.2) 100%
    // );
    backdrop-filter: blur(8px);
    z-index: 5;
}
.glassInfo{
    padding:30px;
    padding-top: 0;
    font-family: Jost;
    text-align: initial;
    line-height: 45px;
    font-size: 30px;
    letter-spacing: 1.5px;
    color: white;
    text-transform: uppercase;
}

// @media (max-width: 1250px) {
//     .section1{
//   .circle{
//       background:blue
//   }}
// }

@keyframes bounce {


    0%{
        transform:  translateY(0px) rotateZ(-35deg);
    
    }
    
    50%{
        transform:  translateY(10px) rotateZ(-35deg);
    }
}


















// @keyframes App-logo-spin {
//     from {
//         transform: rotate(0deg);
//     }
//     to {
//         transform: rotate(360deg);
//     }
// }
